
<div class="container mt-5">
  <div class="post-title text-muted">
    <h2>First Post</h2>
    <div class="post-date">
      <script>
        date = new Date().toLocaleDateString();
        document.write(date);
      </script>
    </div>
    <div class="post-body">
      <h6 class="mt-3 mb-3">Let's learn to write some code.</h6>
    </div>
  </div>
</div>