.banner-card {
  position: relative;
}

.banner-card img {
  max-width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 25%;
  left: 20%;
  color: red;
}

.banner-text a {
  text-decoration: none;
  color: white;
}

.banner-text a:hover {
  text-decoration: none;
  color: cornflowerblue;
  transition: 0.5s;
}

.banner-text h3 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.post-title {
  border: 1px solid red;
  opacity: 80%;
  padding-left: 10px;
}

.post-title h2 {
  text-transform: uppercase;
  color: whitesmoke;
  opacity: 90%;
}

.pin {
  color: crimson;
}

.blog-date {
  color: whitesmoke;
  opacity: 50%;
}

.post-body {
  color: whitesmoke;
  opacity: 90%;
}

.page-contact h2 {
  color: whitesmoke;
  opacity: 55%;
}

.page-contact h4 {
  color: whitesmoke;
  opacity: 80%;
}

.page-contact h5 {
  color: whitesmoke;
  opacity: 80%;
}