<% layout('layouts/mainboilerplate') %>

<div class="container-fluid">
  <div class="banner-card">
    <img src="/images/hero1.jpg" alt="" />
    <div class="banner-text">
      <h3>Into The Woods We Go...</h3>
      <a href="/blog">come with me</a>
    </div>
  </div>
</div>
